@charset "utf-8";
/* CSS Geral BASIC */

/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
*/

@import url('fonts.css');



/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none;}
/* End Reset */



.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px; }
.top30 { margin-top:30px; }
.top35 { margin-top:35px; }
.top40 { margin-top:40px; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top105 { margin-top:105px; }
.top195 { margin-top:195px; }
.top235 { margin-top:235px; }


.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left130 { margin-left:130px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right130 { margin-right:130px; }


.pbottom20 { padding-bottom:20px; }
.pbottom30 { padding-bottom:30px; }
.pbottom40 { padding-bottom:40px; }
.pbottom60 { padding-bottom:60px; }
.pbottom80 { padding-bottom:80px; }
.pbottom100 { padding-bottom:100px; }
.pbottom300 { padding-bottom:300px; }



.container{
	width: 1170px;
}


.input100{
	width: 100% !important;
}

.fonte-cabin{
	font-family: 'Cabin', sans-serif;
}

body{
	font-family: 'Lato', sans-serif;
}


h1{
	font-size: 20px;
	color: #000;
}

h3{
	font-size: 17px;
	color: #000;
	font-weight: 700;
}

h6 {
	color: #000;
	font-size: 35px;
}


p{
	text-align: justify;
	color: #fff;
	font-size: 15px;
}

a:hover{
	text-decoration: none;
}







/* ============================ topo ============================ */

.topo-telefone h1{
	font-size: 19px;
	font-weight: 400;
	color: #fff;
    display: inline-block;
    padding: 10px;
    background: #000;
}



.topo-telefone span{
	font-size: 19px;
	font-weight: 700;
	color: #fff;
}

.fundo-preto{
	background: #262626;
}

.btn-meu-orcamento {
	cursor: pointer;
}

.topo-meu-orcamento {
	background: #fff;
	width: 470px;
	padding: 0px 10px;
}

.dropdown-menu.pull-right {
	right: 0;
	left: auto;
}

.fundo-navs{
	background: none;
	border: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: none;
	background: url(../imgs/menu-hover.png) top center repeat-x;
	font-size: 18px;
	color: #e7c258;
	padding-top: 30px;
	font-weight: 700;

}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #e7c258;
	background: url(../imgs/menu-hover.png) top center repeat-x;
}

.fundo-navs .navs-li>li>a{
	padding-top: 30px;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}

.btn-laranja {
	background: #e7c258;
	border: 1px solid #e7c258;
	color: #fff;
}


/* ============================ topo ============================ */



/* ============================ rodape ============================ */
.rodape-cinza{
	background: #282828;
	height: 210px;
}

.bg-cinza{
	background: #282828;
}


.menu-rodape li a {
	color: #fff;
	font-size: 19px;
	font-weight: 300;
	margin-right: 20px;
}

.menu-rodape li a:hover {
	color: #e7c258;
}

.bg-menu-rodape {
	border-bottom: 1px solid #e7c258;
	padding-bottom: 15px;
}
.rodape-cinza p i {
	color: #e7c258;
	margin-right: 10px;
}

.rodape-cinza p {
	color: #fff;
	font-weight: 300;
	font-size: 19px;
}

.rodape-preto h5 {
	font-size: 19px;
	color: #fff;
	line-height: 40px;
	margin: 0px;
}

.rodape-preto {
	height: 40px;
	background: #000;
}

/* ============================ rodape ============================ */







/*
============================================
orcamentos internos
============================================
*/

span.imgCheckbox0 img {
	display: block;
	margin: 0px;
	padding: 0px;
	transition-duration: 300ms;
	transform: scale(1);
	filter: none;
	-webkit-filter: grayscale(0);
}

span.imgCheckbox0.imgChked img {
	-webkit-filter: grayscale(1);
	transform: scale(0.8);
}
<style>…</style>span.imgCheckbox0 img {
	display: block;
	margin: 0px;
	padding: 0px;
	transition-duration: 300ms;
	transform: scale(1);
	filter: none;
	-webkit-filter: grayscale(0);
}
img[Attributes Style] {
	width: 600px;
	height: 400px;
}

.btn-orcamento{
	font-weight: 400;
	color: #fff;
	background: #000;
	padding:30px 52px;
}

.btn-orcamento:hover{
	font-weight: 400;
	color: #fff;
	background: #000;
	padding:30px 52px;
}


.pesquisa-orcamento h4{
	padding: 212px 0px 21px 0px;
	font-weight: 400;
	font-size: 21px;
	color: #000;
}

.pesquisa-orcamento h3{
	padding: 25px 0px;
	font-weight: 300;
	font-size: 21px;
	color: #292929;
}

.pesquisa-orcamento h2{
	padding: 25px 0px;
	font-weight: 300;
	font-size: 21px;
	color: #292929;
}


/*.selecao-orcamentos{
padding-left: 10px;
border: 2px solid #e5dab4;
}

.selecao-orcamentos:hover{
padding-left: 10px;
border: 2px solid #fff;	;
}

.selecao-orcamentos h2{
text-align: center;
padding:0px 15px 20px 15px;
padding-bottom: 20px;
font-size: 20px;
color: #e4d6b1;
font-weight: 700;
}

.selecao-orcamentos:hover h2{
text-align: center;
padding:0px 15px 20px 15px;
font-size: 20px;
color: #fff;
font-weight: 700;
}

.selecao-orcamentos input{
cursor: pointer;
width: 20px;
height: 20px;
border: 2px solid #000;
}

.selecao-orcamentos img{
padding: 0px 44px 15px 54px;
}

.selecao-orcamentos:hover img{
color: #fff;
padding: 0px 44px 15px 54px;
}

*/


/*
============================================
orcamentos internos
============================================
*/




/*
============================================
home lista de produtos e servicos
============================================
*/

.produtos-home{
	height: 84px;
	background:url(../imgs/descricao-produtos-personalizados.png) center no-repeat;
	padding-top: 195px;
}

.fundo-laranja{
	height: 267px;
	background: url(../imgs/fundo-laranja-produtos.png)  repeat-x;
}


.fundo-laranja p{
	text-align: center;
	color: #fff;
	font-size: 15px;
	overflow: hidden;
	height: 84px;
}


.fundo-laranja h1{
	text-align: center;
	padding: 30px 0px 10px 0px;
	color: #fff;
	font-size: 19px;
	font-weight: 700;
	height: 73px;
	overflow: hidden;
}

.btn-transparente{
	padding: 20px 40px;
	border: 2px solid #fff;
	font-weight: 700;
	color: #fff;
	background: none;
}

.btn-transparente:hover{
	padding: 20px 40px;
	border: 2px solid #fff;
	font-weight: 700;
	color: #fff;
	background: none;
}

.btn-transparente1{
	margin-bottom: 20px;
	margin-left: 17px;
	font-size: 17px;
	padding: 12px 30px;
	border: 2px solid #fff;
	font-weight: 700;
	color: #fff;
	background: none;
}


.btn-transparente1:hover{
	margin-left: 17px;
	font-size: 17px;
	padding: 12px 30px;
	border: 2px solid #72591e;
	font-weight: 700;
	color: #72591e;
	background: none;
}
/**
============================================
home lista de produtos e servicos
============================================
*/

/**
============================================
produtos geral e internos
============================================
*/
.fundo-produtos-geral img{
	width: 100%;
}


.fundo-produtos-geral h3{
	text-align: center;
	padding: 30px 0px 0px 0px;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	height: 75px;
	overflow: hidden;
}

.fundo-produtos-geral p{
	padding-bottom: 28px;
	font-weight: 400;
	font-size: 17px;
	color: #fff;
	height: 75px;
	overflow: hidden;
	margin-bottom: 15px;
}

.btn-produtos{
	padding: 20px 40px;
	border: 2px solid #fff;
	font-weight: 700;
	color: #fff;
	background: none;
}

.btn-produtos:hover{
	padding: 20px 40px;
	border: 2px solid #fff;
	font-weight: 700;
	color: #fff;
	background: none;
}

.btn-produtos1{
	font-weight: 700;
	font-size: 19px;
	padding: 20px 10px;
	border: 2px solid #c69014;
	font-weight: 700;
	color: #c69014;
	background: none;
}

.btn-produtos1:hover{
	font-weight: 700;
	font-size: 19px;
	padding: 20px 10px;
	border: 2px solid #c69014;
	font-weight: 700;
	color: #c69014;
	background: none;
}

.bg-produtos-internos{
	background: #FFFFFF;
}

.descricao-produtos-internos h1{
	padding: 88px 0px 22px 0px;
	font-size: 35px;
	color: #c69014;
	font-weight: 400;
}


.descricao-produtos-internos1 h1{
	padding: 88px 0px 22px 74px;
	font-size: 35px;
	color: #c69014;
	font-weight: 400;
}

.descricao-produtos-internos p{
	padding-bottom: 28px;
	text-align: justify;
	font-size: 25px;
	color: #000;
	font-weight: 400;
}


.posicao-ajustada img{
	margin-left: -106px;
}

.posicao-ajustada1 img{
	margin-left: -38px;
}
/**


/**
============================================
produtos geral e internos
============================================
*/


/**
============================================
portifolio home e geral e internos
============================================
*/

.descricao-portifolio-home h3{
	padding: 20px 0px 40px 0px;
	font-weight: 300;
	font-size: 20px;
	text-align: justify;
	color:#c1c1c1;

}

.btn-transparente-portifolio{
	margin-bottom: 20px;
	margin-left: 17px;
	font-size: 17px;
	padding: 12px 30px;
	border: 2px solid #939393;
	font-weight: 700;
	color: #b0b0b0;
	background: none;
}


.btn-transparente-portifolio:hover, .btn-transparente-portifolio.select{
	margin-left: 17px;
	font-size: 17px;
	padding: 12px 30px;
	border: 2px solid #282828;
	font-weight: 700;
	color: #282828;
	background: none;
}


/**
============================================
effects css na imagem
============================================
*/
.view {
	width: 380px;
	margin: 10px;
	float: left;
	border: none !important;
	overflow: hidden;
	position: relative;
	text-align: center;
	-webkit-box-shadow: 1px 1px 2px #e6e6e6;
	-moz-box-shadow: 1px 1px 2px #e6e6e6;
	box-shadow: 1px 1px 2px #e6e6e6;
	cursor: default;
	background: #fff url(../images/bgimg.jpg) no-repeat center center;
}
.view .mask,.view .content {
	width: 600px;
	height: 200px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.view img {
	display: block;
	position: relative;
}
.view h2 {
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 25px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.8);
	margin: 20px 0 0 0;
}
.view p {
	font-weight: 300;
	font-size: 25px;
	position: relative;
	color: #fff;
	padding: 5px 20px;
	text-align: center;
}
.view a.info {
	display: inline-block;
	text-decoration: none;
	/*background: #000;*/
	color: #fff;
	text-transform: uppercase;

}
.view a.info: hover {
	-webkit-box-shadow: 0 0 5px #000;
	-moz-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

.view-second img {
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.view-second .mask {
	background:url(../imgs/fundo-transparente-portifolio.png);
	width: 700px;
	height: 700px;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transform: translate(265px, 145px) rotate(45deg);
	-moz-transform: translate(265px, 145px) rotate(45deg);
	-o-transform: translate(265px, 145px) rotate(45deg);
	-ms-transform: translate(265px, 145px) rotate(45deg);
	transform: translate(265px, 145px) rotate(45deg);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.view-second h2 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	background: transparent;
	margin: 20px 40px 0px 40px;
	-webkit-transform: translate(200px, -200px);
	-moz-transform: translate(200px, -200px);
	-o-transform: translate(200px, -200px);
	-ms-transform: translate(200px, -200px);
	transform: translate(200px, -200px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.view-second p {
	-webkit-transform: translate(-200px, 200px);
	-moz-transform: translate(-200px, 200px);
	-o-transform: translate(-200px, 200px);
	-ms-transform: translate(-200px, 200px);
	transform: translate(-200px, 200px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.view-second a.info {
	-webkit-transform: translate(0px, 100px);
	-moz-transform: translate(0px, 100px);
	-o-transform: translate(0px, 100px);
	-ms-transform: translate(0px, 100px);
	transform: translate(0px, 100px);
	-webkit-transition: all 0.2s 0.1s ease-in-out;
	-moz-transition: all 0.2s 0.1s ease-in-out;
	-o-transition: all 0.2s 0.1s ease-in-out;
	-ms-transition: all 0.2s 0.1s ease-in-out;
	transition: all 0.2s 0.1s ease-in-out;
}
.view-second:hover .mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transform: translate(-80px, -125px) rotate(45deg);
	-moz-transform: translate(-80px, -125px) rotate(45deg);
	-o-transform: translate(-80px, -125px) rotate(45deg);
	-ms-transform: translate(-80px, -125px) rotate(45deg);
	transform: translate(-80px, -125px) rotate(45deg);
}
.view-second:hover h2 {
	-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);
	transform: translate(0px,0px);
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.view-second:hover p {
	-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);
	transform: translate(0px,0px);
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	-ms-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
.view-second:hover a.info {
	-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);
	transform: translate(0px,0px);
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	transition-delay: 0.5s;
}



/**
============================================
effects css na imagem
============================================
*/


/**


/**
============================================
portifolio home e geral e internos
============================================
*/
.indicadores-carroucel-portifolio{
	bottom: -35px;
}

.indicadores-carroucel-portifolio li{
	margin: none;
	background: #e3c789;
	width: 20px;
	height: 20px;
}


.indicadores-carroucel-portifolio li.active {
	background-color: #c79013;
	width: 20px;
	height: 20px;

}

.portifolio-descricao h2{
	padding: 0px 0px 0px 0px;
	font-size: 35px;
	color: #c69014;
	font-weight: 400;
}

.portifolio-descricao h3{
	font-size: 13px;
	font-weight: 700;
	color: #000;
}

.fa-user:before {
	margin-right: 15px;
}

.fa-calendar:before {
	margin-right: 15px;
}
.fa-lightbulb-o:before {
	margin-right: 15px;
}
.fa-link:before {
	margin-right: 15px;
}
.portifolio-descricao span{
	font-size: 15px;
	font-weight: 400;
	color: #969696;
}

.portifolio-descricao p{
	font-size: 20px;
	color: #30302f;
	font-weight: 300;
}


/**
============================================
nossas dicas home
============================================
*/

.conheca-alka-home h2{
	margin-right: 153px;
	margin-bottom: 20px;
	font-size: 35px;
	font-weight: 300;
	color: #c69014;

}

.fundo-laranja-altura{
	height: 315px;
	background: url(../imgs/fundo-laranja-altura.png) repeat-x;
}

.fundo-laranja-altura img{
	margin-left: 21px;
	margin-top: -79px;
}


.fundo-laranja-altura p{
	overflow: hidden;
	height: 146px;
	font-weight: 400;
	font-size: 20px;
	color: #000;
}
.posicao{
	margin-top: -206px;
}

.posicao-sombra-home img{
	margin-left: 14px;
	margin-top: -60px;


}


/**
============================================
nossas dicas home
============================================
*/


/**
============================================
empresa
============================================
*/
.bg-empresa{
	background: url(../imgs/bg-empresa.jpg) top center no-repeat;
}

.bg-portfolio{
	background: url(../imgs/bg-portfolio.jpg) top center no-repeat;
}

.bg-fornecedores{
	background: url(../imgs/bg-fornecedores.jpg) top center no-repeat;
}

.bg-produto{
	background: url(../imgs/produtos.jpg) top center no-repeat;
}

.bg-contato{
	background: url(../imgs/bg-contato.jpg) top center no-repeat;
}

.sombra-barra-internas{
	width: 100%;
	background: url(../imgs/barra-transparente-internas.png) bottom  no-repeat;
	margin-top: 100px;
}

.barra-interna{
	background-color: none;

}

.barra-interna span{
	margin-left: 74px;
	font-size: 17px;
	color: #fff;
	font-weight: 700;
}

.barra-interna a{
	font-size: 15px;
	color: #fff;
	font-weight: 300;
}

.barra-interna .fa{
	margin-left: 5px;
}

.barra-interna li.active{
	margin-left: 62px;
	font-size: 35px;
	color: #c69014;
	font-weight: 400;
}


.barra-interna .breadcrumb{
	margin-bottom: 0px;
	padding: 8px 15px;
	background:none;
}

.fundo-cinza-degrader{
	background: #F7F7F7 url(../imgs/descricao-empresa-geral.jpg) top center no-repeat;
}
.descricao-empresa p{
	padding: 0px 0px 0px 71px;
	font-weight: 300;
	font-size: 25px;
	color: #000;
}

.fundo-laranja1{
	background: url(../imgs/fundo-laranja-altura1.png);
}

.nosso-clientes-empresa h3{
	padding: 30px 0px 10px 0px;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
}

.nosso-clientes-empresa1 img{
	margin-left: 12px;
	background: #e1d4af;
}

.nosso-clientes-empresa11 img{
	background: #e1d4af;
}
.nosso-clientes-empresa11 h1{
	padding: 15px 0px 5px 0px;
	font-size: 17px;
	font-weight: 700;
	color: #000;
}

.nosso-clientes-empresa11 h2{
	padding-left: 15px;
	font-size: 17px;
	font-weight: 400;
	color: #000;
}

.descricao-depoimentos-empresa h2{
	padding: 44px 10px 20px 0px;
	font-weight: 700;
	font-size: 25px;
	color: #c69014;
}

.descricao-depoimentos-empresa p{
	font-weight: 400;
	font-size: 20px;
	color: #000;
}

.descricao-depoimentos-empresa span{
	padding-left: 15px;
	font-weight: 300;
	font-size: 20px;
	color: #c69014;
}

.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #ccc;
	content:none;
}



.indicadores-carroucel-empresa{
	bottom: -50px;
}

.indicadores-carroucel-empresa li{
	margin-right: 5px;
	border:none;
	background: #000;
	width: 20px;
	height: 20px;
}


.indicadores-carroucel-empresa li.active {
	margin-right: 5px;
	background-color: #bfa359;
	width: 20px;
	height: 20px;

}

.descricao-depoimentos-empresa img{
	padding-top: 70px;
}
/**
============================================
empresa
============================================
*/


/**
============================================
dicas
============================================
*/
.nossas-noticias h5{
	padding: 50px 0px 10px 30px;
	font-size: 30px;
	font-weight: 700;
	color: #c69014;
}

.mini-fundo-laranja-home{
	padding: none;
	background: #d4bc72;
}

.mini-fundo-laranja-home h2{
	padding-top: 10px;
	font-weight: 700;
	font-size: 14px;
	color: #000;
}

.mini-fundo-laranja-home p{
	overflow: hidden;
	height: 92px;
	padding: 16px 40px 16px 0px;
	font-weight: 300;
	font-size: 18px;
	color: #000;
}

.btn-transparente11{
	margin-bottom: 20px;
	margin-left: 17px;
	font-size: 17px;
	padding: 14px 25px;
	border: 2px solid #fff;
	font-weight: 700;
	color: #fff;
	background: none;
}


.btn-transparente11:hover{
	margin-left: 17px;
	font-size: 17px;
	padding: 14px 25px;
	border: 2px solid #72591e;
	font-weight: 700;
	color: #fff;
	background: none;
}

.fundo-laranja-altura1 img {
	margin-left: -51px;
}


.bg-dicas{
	background: url(../imgs/bg-dicas.jpg)top center no-repeat;
}

.descricao-dicas-interna h1{
	padding: 40px 0px 15px 0px;
	color: #c69014;
	font-weight: 700;
	font-size: 20px;
}

.descricao-dicas-interna span{
	padding-left: 5px;
	color: #30302f;
	font-weight: 300;
	font-size: 13px;
}

.descricao-dicas-interna p{
	padding:18px 0px 50px 0px;
	color: #30302f;
	font-weight: 300;
	font-size: 20px;
}


.descricao-dicas-interna h2{
	padding-bottom: 10px;
	padding-left: 5px;
	color: #30302f;
	font-weight: 300;
	font-size: 13px;
}

.descricao-dicas-interna .fa{
	padding-left: 5px;
}

.descricao-dicas-interna1{
	border-bottom:2px solid #a0a0a0;
	padding: 30px 0px 30px 10px;
}

.descricao-dicas-interna1 h1{
	padding: 40px 0px 15px 0px;
	color: #c69014;
	font-weight: 700;
	font-size: 15px;
}

.descricao-dicas-interna1 span{
	padding-left: 5px;
	color: #30302f;
	font-weight: 300;
	font-size: 13px;
}

.descricao-dicas-interna1 h2{
	padding-bottom: 10px;
	padding-left: 5px;
	color: #30302f;
	font-weight: 300;
	font-size: 13px;
}

.descricao-dicas-interna1 p{
	padding:18px 0px 50px 0px;
	color: #30302f;
	font-weight: 300;
	font-size: 13px;
}

.descricao-dicas-interna1 .fa{
	padding-left: 5px;
}

.tabs-dicas li{
	font-weight: 400;
	font-size: 15px;
	color:#30302f;
}

.descricao-comentario h3{
	margin-left: 60px;
	font-size: 20px;
	font-weight: 700;
	color: #c69014;
}


.descricao-comentario span{
	font-size: 20px;
	font-weight: 700;
	color: #c69014;
}

.descricao-comentario button{
	background: none;
	border-radius: 5%;
	border: 3px solid #c69014;
	padding: 23px 17px;
	font-size: 20px;
	font-weight: 700;
	color: #c69014;
}

.descricao-comentario:hover button, .descricao-comentario:focus button {
	background: none;
	border-radius: 5%;
	border: 3px solid #c69014;
	padding: 23px 17px;
	font-size: 20px;
	font-weight: 700;
	color: #c69014;
}



.descricao-comentario-dentro h3{
	font-size: 20px;
	font-weight: 700;
	color: #c69014;

}

.descricao-comentario-dentro{
	position: relative;
	padding: 30px 20px 0px 80px;
	border: 1px solid #a0a0a0;
}

.descricao-comentario-dentro1 img{
	margin-top: 40px;
	position: relative;
	z-index: 11;

}

.descricao-comentario-dentro p{
	font-size: 20px;
	font-weight: 300;
	color: #30302f;

}


.descricao-dicas-gerais{
	padding: 30px 0px 30px 10px;
}

.descricao-dicas-gerais h1{
	padding: 40px 0px 15px 0px;
	color: #c69014;
	font-weight: 700;
	font-size: 15px;
	height: 75px;
	overflow: hidden;
}

.descricao-dicas-gerais span{
	padding: 0px 10px;
	color: #30302f;
	font-weight: 300;
	font-size: 13px;
}

.descricao-dicas-gerais h2{
	padding-bottom: 10px;
	padding-left: 5px;
	color: #30302f;
	font-weight: 300;
	font-size: 13px;
}

.descricao-dicas-gerais1 img{
	width: 270px;
}

.descricao-dicas-gerais p{
	padding:18px 0px 50px 0px;
	color: #30302f;
	font-weight: 300;
	font-size: 20px;
	height: 136px;
	overflow: hidden;
}

/**
/**
============================================
dicas
============================================
*/

/**
============================================
fornecedores
============================================
*/
.descricao-fornecedores p{
	font-weight: 300;
	font-size: 25px;
	color: #000;

}

/**
============================================
fornecedores
============================================
*/



/**
============================================
orçamentos
============================================
*/



/**
============================================
orçamentos
============================================
*/



/**
============================================
contatos
============================================
*/
.contatos-descricao h2{
	padding: 40px 0px 0px 0px;
	font-size: 40px;
	color: #b28216;
	font-weight: 700;
}

.contatos-descricao h3{
	text-align: center !important;
	padding: 30px 0px 15px 0px;
	font-size: 40px;
	color: #282828;
	font-weight: 700;
}

.contatos-descricao p{
	padding: 30px 0px 0px 0px;
	font-size: 14px;
	color: #999999;
	font-weight: 400;
}
.menu-contatos{
	border-bottom: none;
}

.menu-contatos>li.active>a, .menu-contatos>li.active>a:hover, .menu-contatos>li.active>a:focus {
	color: #fff;
	cursor: default;
	background-color: #282828;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

.menu-contatos>li>a {
	color: #fff;
	background: #939393;
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}
.nav>li>a:hover{
	text-decoration: none;
	background-color: #282828;
}

.posicao-tab{
	position: relative;
	z-index: 11;
	width: 764px;
	margin-top: -348px;
	background:url(../imgs/fundo-laranja-altura1.png) top center;
	padding: 35px 20px;
}


.posicao-sombra-home1{
	height: 50px;
	position: relative;
	margin-left: -67px;
	background: url(../imgs/sombra-navs-contatos.png)no-repeat;
	margin-top: -42px;
}

.posicao-sombra-home11 img{
	margin-top: 30px;
}

.mapa-lg{

}


.btn-cinza-contatos{
	margin-right: -13px;
	font-weight: 700;
	padding: 28px 50px;
	background: #282828;
	color: #fff;
}

.btn-cinza-contatos:hover{
	margin-right: -13px;
	font-weight: 700;
	padding: 28px 50px;
	background: #282828;
	color: #bca152;
}



/**
============================================
contatos
============================================
*/











/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#container_banner {
	width: 100%;
	height: 960px;
	margin: 0px auto;
	overflow: hidden;
	top: 0px;
	position: relative;
}

#content_slider {
	width: 1920px;
	height: 960px;
	overflow: visible;
	position: absolute;
	margin-left: -960px;
	left: 50%;
}


#content_slider .royalSlider.rsAutoHeight, .rsAutoHeight .rsSlide,
#content_slider .rsOverflow{
	overflow: visible;
}

#content-slider-1{
	overflow: visible;
	height: 960px;
}

#content_slider .descricao-banner{
	width: 940px;
	height: 235px;
	padding: 30px;
	background: #ec3d35 url(../imgs/bg-slider.jpg) bottom center no-repeat;
	position: absolute;
	margin-left: -485px;
	left: 50%;
	bottom: -80px !important;
}

#content_slider .descricao-banner h4{
	font-size: 35px;
	color: #fff;
	font-weight: 100;
	text-decoration: underline;
	text-align: center;
}

#content_slider .descricao-banner p{
	font-size: 17px;
	color: #fff;
}

#content_slider .descricao-banner .btn-slider{
	color: #fff;
	background: #ec3d35;
	border: 1px solid #fff;
	margin-top: 18px;
}

#content_slider .descricao-banner .btn-slider:hover{
	color: #ec3d35;
	background: #fff;
	border: 1px solid #fff;
}



#content_slider .rsNavItem{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #fff;
	float: left;
	margin-right: 10px;
	-webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
}


#content_slider .rsNavSelected{
	background: #d59a31;
}

#content_slider .rsNav {
	width: 200px;
	z-index: 2;
	position: relative;
	bottom: 100px;
	left: 47%;

}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



.pagina{
	width: 1170px;
	position: absolute;
	margin-left: -585px;
	left: 50%;
	top: 0px;
	z-index: 10;
}




.input-lista-prod-orcamentos {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #000;
}




.lista-itens-orcamento thead{
	font-size: 15px;
	color: #fff;
	border: 2px solid #fff;
}


.bottom-table{
	background: #337AB7;
}

.lista-itens-orcamento tbody{
	font-size: 17px;
	color: #fff;
	border: 2px solid #fff;
}

.lista-itens-orcamento tbody tr td{
	vertical-align: middle;
}

.lista-itens-orcamento tbody .glyphicon-remove{
	color: #f00000;
}

.lista-itens-carrinho{
	margin: 10px 0px;
	overflow: hidden;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
