@charset "utf-8";

/* CSS Geral BASIC */


/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
*/

@import url('fonts.css');

/* Reset */

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body,
img,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
select,
input {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	outline: none;
	border: none;
}


/* End Reset */

.top5 {
	margin-top: 5px;
}

.top10 {
	margin-top: 10px;
}

.top15 {
	margin-top: 15px;
}

.top20 {
	margin-top: 20px;
}

.top25 {
	margin-top: 25px;
}

.top30 {
	margin-top: 30px;
}

.top35 {
	margin-top: 35px;
}

.top40 {
	margin-top: 40px;
}

.top45 {
	margin-top: 45px;
}

.top50 {
	margin-top: 50px;
}

.top55 {
	margin-top: 55px;
}

.top60 {
	margin-top: 60px;
}

.top65 {
	margin-top: 65px;
}

.top70 {
	margin-top: 70px;
}

.top75 {
	margin-top: 75px;
}

.top80 {
	margin-top: 80px;
}

.top85 {
	margin-top: 85px;
}

.top90 {
	margin-top: 90px;
}

.top105 {
	margin-top: 105px;
}

.top195 {
	margin-top: 195px;
}

.bottom5 {
	margin-bottom: 5px;
}

.bottom10 {
	margin-bottom: 10px;
}

.bottom15 {
	margin-bottom: 15px;
}

.bottom20 {
	margin-bottom: 20px;
}

.bottom25 {
	margin-bottom: 25px;
}

.bottom30 {
	margin-bottom: 30px;
}

.bottom35 {
	margin-bottom: 35px;
}

.bottom40 {
	margin-bottom: 40px;
}

.bottom45 {
	margin-bottom: 45px;
}

.bottom50 {
	margin-bottom: 50px;
}

.bottom55 {
	margin-bottom: 55px;
}

.bottom60 {
	margin-bottom: 60px;
}

.bottom60 {
	margin-bottom: 60px;
}

.bottom65 {
	margin-bottom: 65px;
}

.bottom70 {
	margin-bottom: 70px;
}

.bottom75 {
	margin-bottom: 75px;
}

.bottom80 {
	margin-bottom: 80px;
}

.bottom100 {
	margin-bottom: 100px;
}

.bottom120 {
	margin-bottom: 120px;
}

.bottom135 {
	margin-bottom: 135px;
}

.left5 {
	margin-left: 5px;
}

.left10 {
	margin-left: 10px;
}

.left15 {
	margin-left: 15px;
}

.left20 {
	margin-left: 20px;
}

.left25 {
	margin-left: 25px;
}

.left30 {
	margin-left: 30px;
}

.left35 {
	margin-left: 35px;
}

.left40 {
	margin-left: 40px;
}

.left45 {
	margin-left: 45px;
}

.left50 {
	margin-left: 50px;
}

.left55 {
	margin-left: 55px;
}

.left60 {
	margin-left: 60px;
}

.left65 {
	margin-left: 65px;
}

.left70 {
	margin-left: 70px;
}

.left75 {
	margin-left: 75px;
}

.left80 {
	margin-left: 80px;
}

.left130 {
	margin-left: 130px;
}

.right5 {
	margin-right: 5px;
}

.right10 {
	margin-right: 10px;
}

.right15 {
	margin-right: 15px;
}

.right20 {
	margin-right: 20px;
}

.right25 {
	margin-right: 25px;
}

.right30 {
	margin-right: 30px;
}

.right35 {
	margin-right: 35px;
}

.right40 {
	margin-right: 40px;
}

.right45 {
	margin-right: 45px;
}

.right50 {
	margin-right: 50px;
}

.right55 {
	margin-right: 55px;
}

.right60 {
	margin-right: 60px;
}

.right65 {
	margin-right: 65px;
}

.right70 {
	margin-right: 70px;
}

.right75 {
	margin-right: 75px;
}

.right80 {
	margin-right: 80px;
}

.right130 {
	margin-right: 130px;
}

.pbottom20 {
	padding-bottom: 20px;
}

.pbottom40 {
	padding-bottom: 40px;
}

.pbottom60 {
	padding-bottom: 60px;
}

.pbottom80 {
	padding-bottom: 80px;
}

.pbottom100 {
	padding-bottom: 100px;
}

.container {
	max-width: 480px;
}

.input100 {
	width: 100% !important;
}

.input98 {
	width: 98% !important;
}

.fonte-cabin {
	font-family: 'Cabin', sans-serif;
}

body {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 20px;
	color: #000;
}

h3 {
	font-size: 17px;
	color: #000;
	font-weight: 700;
}

h6 {
	font-size: 30px;
	text-decoration: underline;
}

p {
	text-align: justify;
	color: #000;
	font-size: 14px;
}

a:hover {
	text-decoration: none;
}


/* ============================ topo ============================ */

.menu-contatos button,
.menu-contatos ul,
.menu-contatos button:hover {
	background: #d7d7d7;
}

.menu-contatos {}

.menu-contatos ul {
	margin-left: -120px;
}

.menu-contatos .btn-default {
	color: #000;
	font-size: 17px;
	font-weight: 700;
}

.menu-home {
	width: 211px;
	height: 50px;
	cursor: pointer;
	background: url(../imgs/btn-nosso-menu.png);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	line-height: 200px;
}


/* ============================ topo ============================ */






/* ============================ empresa ============================ */
.bg-empresa{

	background: url(../imgs/bg-empresa.jpg) top center no-repeat;
}

.sombra-barra-internas{
	margin-top: 45px;
	height: 90px;
	background: url(../imgs/barra-transparente-internas.png) no-repeat;
}

.barra-interna .breadcrumb{
	margin-bottom: 0px;
	padding: 8px 15px;
	background:none;
}

.barra-interna li.active{
	font-size: 25px;
	color: #c69014;
	font-weight: 400;
}

.fundo-transparente-empresa{
	height: 360px;
	background: #fff url(../imgs/bg-conheca-mais-alka-empresa.png) top left no-repeat;
}

.descricao-empresa h2{
	font-weight: 400;
	font-size: 15px;
	color: #000;
	text-align: justify;
}

.nosso-clientes-empresa h3{
	padding: 30px 0px 10px 0px;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
}

.nosso-clientes-empresa1 img{
	margin-left: 12px;
	background: #e1d4af;
}

.nosso-clientes-empresa11 img{
	background: #e1d4af;
}
.nosso-clientes-empresa11 h1{
	padding: 15px 0px 5px 0px;
	font-size: 17px;
	font-weight: 700;
	color: #000;
}

.nosso-clientes-empresa11 h2{
	padding-left: 15px;
	font-size: 17px;
	font-weight: 400;
	color: #000;
}


.fundo-laranja1{
	background: url(../imgs/fundo-laranja-altura1.png);
}

.navs-personalizados{
	margin-left: 0%;
}

.navs-personalizados .active {
	width: 18px;
	height: 18px;
	margin: 0;
	background-color: #fff;
}

.carousel-indicators li {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background: #dfd1ac;
	/*background-color: rgba(0,0,0,0);*/
	/*border: 1px solid #fff;*/
	border-radius: 10px;
}

.navs-personalizados1{
	/*margin-left: 0%;*/
}

.navs-personalizados1 .active {
	width: 18px;
	height: 18px;
	margin: 0;
	background-color: #bfa359;
}

.carousel-indicators1 li {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background: #dfd1ac;
	/*background-color: rgba(0,0,0,0);*/
	/*border: 1px solid #fff;*/
	border-radius: 10px;
}


.carousel-control.left-control{
	background: none;
}

.carousel-control.right-control{
	background: none;
}

.carousel-control.left-control1{
	background: none;
}

.carousel-control.right-control1{
	background: none;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
	width: 30px;
	height: 30px;
	margin-top: -45px;
	font-size: 30px;
}

.descricao-depoimentos-empresa h2{
	padding: 44px 10px 20px 0px;
	font-weight: 700;
	font-size: 25px;
	color: #c69014;
}

.descricao-depoimentos-empresa p{
	font-weight: 400;
	font-size: 20px;
	color: #000;
}

.descricao-depoimentos-empresa span{
	padding-left: 15px;
	font-weight: 300;
	font-size: 20px;
	color: #c69014;
}

/* ============================ empresa ============================ */


/* ============================ produtos ============================ */

.decricao-produtos-dentro h3{
	padding: 45px 0px 0px 0px;
	font-size: 30px;
	font-weight: 700;
	color:#c79013;
}

.decricao-produtos-dentro h1{
	font-size: 30px;
	font-weight: 700;
	color:#000;
	text-align: left;
}

.decricao-produtos-dentro1 p{
	font-size: 15px;
	font-weight: 400;
	color:#000;
}

.btn-produtos1{
	font-weight: 700;
	font-size: 19px;
	padding: 20px 10px;
	border: 2px solid #c69014;
	font-weight: 700;
	color: #c69014;
	background: none;
}

.btn-produtos1:hover{
	font-weight: 700;
	font-size: 19px;
	padding: 20px 10px;
	border: 2px solid #c69014;
	font-weight: 700;
	color: #c69014;
	background: none;
}

.bg-cinza1{
	background: #282828;
}

.descricao-dicas-interna1 h1 {
	padding: 40px 0px 15px 0px;
	color: #c69014;
	font-weight: 700;
	font-size: 15px;
	height: 75px;
    overflow: hidden;
}

.descricao-dicas-interna1 span{
	padding-left: 5px;
	color: #30302f;
	font-weight: 300;
	font-size: 11px;
}

.descricao-dicas-interna1 p{
	background: url(../imgs/barra-dicas-geral.png) bottom center no-repeat;
	padding:18px 0px 20px 0px;
	color: #30302f;
	font-weight: 400;
	font-size: 14px;
	height: 102px;
	overflow: hidden;
}


.descricao-dicas-interna1 h2{
	padding-bottom: 10px;
	padding-left: 5px;
	color: #30302f;
	font-weight: 300;
	font-size: 14px;
}

.descricao-dicas-interna1{

}

/* ============================ produtos ============================ */

/* ============================ orçamentos ============================ */
.descricao-produtos-internos1 h1{
	padding: 88px 0px 22px 74px;
	font-size: 32px;
	color: #c69014;
	font-weight: 400;
}

.btn-orcamento{
	font-weight: 400;
	color: #fff;
	background: #000;
	padding:25px 45px;
}

.btn-orcamento:hover{
	font-weight: 400;
	color: #fff;
	background: #000;
	padding:25px 45px;
}

.pesquisa-orcamento h4{
	padding: 50px 0px 21px 0px;
	font-weight: 400;
	font-size: 21px;
	color: #000;
}

.pesquisa-orcamento h3{
	padding: 25px 0px;
	font-weight: 300;
	font-size: 15px;
	color: #292929;
}

.pesquisa-orcamento h2{
	padding: 25px 0px;
	font-weight: 300;
	font-size: 15px;
	color: #292929;
}

.form-inline .radio, .form-inline .checkbox {
	display:block;
}

.form-inline .form-control {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
}

/* ============================ orçamentos ============================ */


/* ============================ fornecedores ============================ */

.descricao-fornecedores p{
	font-weight: 400;
	font-size: 14px;
	color: #000;

}

.nosso-clientes-empresa h3{
	padding: 30px 0px 10px 0px;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
}


.nosso-clientes-empresa11 img{
	background: #e1d4af;
}
.nosso-clientes-empresa11 h1{
	padding: 10px 0px;
	font-size: 16px;
	font-weight: 700;
	color: #000;
}

.nosso-clientes-empresa11 h2{
	font-size: 16px;
	font-weight: 300;
	color: #000;
}

/* ============================ fornecedores ============================ */

/* ============================ rodape ============================ */
.bg-fundo-preto {
	background: #000;
}

.bg-fundo-preto h4 {
	padding: 15px 0px;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
}

.fundo-cinza {
	background: #e7e7e7;
}


/* ============================ rodape ============================ */



/* ============================ dicas ============================ */
.descricao-dicas-interna h1 {
	padding: 40px 0px 15px 0px;
	color: #c69014;
	font-weight: 700;
	font-size: 20px;
}

.fa {
    margin-left: 10px;
}

.descricao-dicas-interna span{
	padding-left: 5px;
	color: #30302f;
	font-weight: 300;
	font-size: 13px;
}

.descricao-dicas-interna p{
	padding:18px 0px 50px 0px;
	color: #30302f;
	font-weight: 400;
	font-size: 15px;
}


.descricao-dicas-interna h2{
	padding-bottom: 10px;
	padding-left: 5px;
	color: #30302f;
	font-weight: 300;
	font-size: 13px;
}

.descricao-dicas-interna .fa{
	padding-left: 5px;
}

.descricao-comentario h3{
	font-size: 20px;
	font-weight: 700;
	color: #c69014;
}


.descricao-comentario span{
	font-size: 20px;
	font-weight: 700;
	color: #c69014;
}

.descricao-comentario button{
	background: none;
	border-radius: 5%;
	border: 3px solid #c69014;
	padding: 16px 20px;
	font-size: 14px;
	font-weight: 700;
	color: #c69014;
}

.descricao-comentario:hover button, .descricao-comentario:focus button {
	background: none;
	border-radius: 5%;
	border: 3px solid #c69014;
	padding: 16px 20px;
	font-size: 14px;
	font-weight: 700;
	color: #c69014;
}

.descricao-comentario-dentro {
	position: relative;
	padding: 30px 20px 0px 62px !important;
	border: 1px solid #a0a0a0;
}

.descricao-comentario-dentro h3{
	font-size: 17px;
	font-weight: 700;
	color: #c69014;

}


.descricao-comentario-dentro1 img{
	margin-left: 14px;
	margin-top: 40px;
	position: relative;
	z-index: 11;

}

.descricao-comentario-dentro p{
	padding: 18px 0px 20px 0px;
	font-size: 17px;
	font-weight: 400;
	color: #30302f;

}

/*effect pinterest nas fotos*/

.wall-item {
  display: block;
  margin: 0 0 30px 0;
  padding: 12px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  transition: all 220ms;
}

.wall-item:hover {
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: all 220ms;
}

.wall-item > img {
  display: block;
  width: 100%;
  margin: 0 0 24px 0;
}

.wall-item h2 {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 12px 0;
}

.wall {
  display: block;
  position: relative;
}

.wall-column {
  display: block;
  position: relative;
  width: 33.333333%;
  float: left;
  padding: 0 12px;
  box-sizing: border-box;
}


/*effect pinterest nas fotos*/

/* ============================ dicas ============================ */

/* ============================ portifolio ============================ */
.descricao-portifolio-home h3{
	padding: 20px 0px 40px 0px;
	font-weight: 300;
	font-size: 20px;
	text-align: justify;
	color:#c1c1c1;

}

.btn-transparente-portifolio{
	margin-bottom: 10px;
	font-size: 17px;
	border: 2px solid #939393;
	font-weight: 700;
	color: #b0b0b0;
	background: none;
}


.btn-transparente-portifolio:hover{
	font-size: 17px;
	border: 2px solid #282828;
	font-weight: 700;
	color: #282828;
	background: none;
}



.portifolio-descricao h2{
	padding: 0px 0px 0px 0px;
	font-size: 35px;
	color: #c69014;
	font-weight: 400;
}

.portifolio-descricao h3{
	font-size: 13px;
	font-weight: 700;
	color: #000;
}

.fa-user:before {
	margin-right: 15px;
}

.fa-calendar:before {
	margin-right: 15px;
}
.fa-lightbulb-o:before {
	margin-right: 15px;
}
.fa-link:before {
	margin-right: 15px;
}
.portifolio-descricao span{
	font-size: 15px;
	font-weight: 400;
	color: #969696;
}

.portifolio-descricao p{
	padding: 30px 0px 0px 0px;
	font-size: 20px;
	color: #30302f;
	font-weight: 300;
}

.navs-personalizados3 .active {
	width: 18px;
	height: 18px;
	margin: 0;
	background-color: #fff;
}



/**
============================================
	effects css na imagem
============================================
*/
.view {
	width: 232px;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	-webkit-box-shadow: 1px 1px 2px #e6e6e6;
	-moz-box-shadow: 1px 1px 2px #e6e6e6;
	box-shadow: 1px 1px 2px #e6e6e6;
	cursor: default;
	background: #fff url(../images/bgimg.jpg) no-repeat center center;
}
.view .mask,.view .content {
	width: 600px;
	height: 200px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.view img {
	display: block;
	position: relative;
}
.view h2 {
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 15px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.8);
	margin: 20px 0 0 0;
}
.view p {
	font-weight: 300;
	font-size: 15px;
	position: relative;
	color: #fff;
	padding: 5px 20px;
	text-align: center;
}
.view a.info {
	margin-top: 14px;
	display: inline-block;
	text-decoration: none;
	/*background: #000;*/
	color: #fff;
	text-transform: uppercase;

}
.view a.info: hover {
	-webkit-box-shadow: 0 0 5px #000;
	-moz-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

.view-second img {
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.view-second .mask {
	background:url(../imgs/fundo-transparente-portifolio.png);
	width: 700px;
	height: 700px;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transform: translate(265px, 145px) rotate(45deg);
	-moz-transform: translate(265px, 145px) rotate(45deg);
	-o-transform: translate(265px, 145px) rotate(45deg);
	-ms-transform: translate(265px, 145px) rotate(45deg);
	transform: translate(265px, 145px) rotate(45deg);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.view-second h2 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	background: transparent;
	-webkit-transform: translate(200px, -200px);
	-moz-transform: translate(200px, -200px);
	-o-transform: translate(200px, -200px);
	-ms-transform: translate(200px, -200px);
	transform: translate(200px, -200px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.view-second p {
	-webkit-transform: translate(-200px, 200px);
	-moz-transform: translate(-200px, 200px);
	-o-transform: translate(-200px, 200px);
	-ms-transform: translate(-200px, 200px);
	transform: translate(-200px, 200px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.view-second a.info {
	-webkit-transform: translate(0px, 100px);
	-moz-transform: translate(0px, 100px);
	-o-transform: translate(0px, 100px);
	-ms-transform: translate(0px, 100px);
	transform: translate(0px, 100px);
	-webkit-transition: all 0.2s 0.1s ease-in-out;
	-moz-transition: all 0.2s 0.1s ease-in-out;
	-o-transition: all 0.2s 0.1s ease-in-out;
	-ms-transition: all 0.2s 0.1s ease-in-out;
	transition: all 0.2s 0.1s ease-in-out;
}
.view-second:hover .mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transform: translate(-80px, -125px) rotate(45deg);
	-moz-transform: translate(-80px, -125px) rotate(45deg);
	-o-transform: translate(-80px, -125px) rotate(45deg);
	-ms-transform: translate(-80px, -125px) rotate(45deg);
	transform: translate(-80px, -125px) rotate(45deg);
}
.view-second:hover h2 {
	-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);
	transform: translate(0px,0px);
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.view-second:hover p {
	-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);
	transform: translate(0px,0px);
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	-ms-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
.view-second:hover a.info {
	-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);
	transform: translate(0px,0px);
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	transition-delay: 0.5s;
}



/**
============================================
	effects css na imagem
============================================
*/


/* ============================ portifolio ============================ */


/* ============================ contatos ============================ */




.contatos-descricao h3{
	padding: 30px 0px 15px 0px;
	font-size: 30px;
	color: #282828;
	font-weight: 700;
}

.menu-contatos{
	border-bottom: none;
}

.menu-contatos>li.active>a, .menu-contatos>li.active>a:hover, .menu-contatos>li.active>a:focus {
	color: #fff;
	cursor: default;
	background: url(../imgs/fundo-laranja-altura1.png);
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

.menu-contatos>li>a {
	color: #fff;
	background: #939393;
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}

.mapa-contatos{
	margin-left:-15px;
}

.btn-cinza-contatos{
	margin-right: -13px;
	font-weight: 700;
	padding: 28px 50px;
	background: #282828;
	color: #fff;
}

.btn-cinza-contatos:hover{
	margin-right: -13px;
	font-weight: 700;
	padding: 28px 50px;
	background: #282828;
	color: #bca152;
}

.btn-cinza-contatos1{
	font-weight: 700;
	padding: 20px;
	background: #282828;
	color: #fff;
}

.btn-cinza-contatos1:hover{
	font-weight: 700;
	padding: 20px;
	background: #282828;
	color: #bca152;
}


.menu-contatos>li>a:hover, .menu-contatos>li>a:focus {
	background: url(../imgs/fundo-laranja-altura1.png);
}
/* ============================ contatos ============================ */

.topo {
	position: relative;
	z-index: 99;
}

.btn-preto,
.btn-preto:hover {
	background: #282828;
	color: #fff;
	font-weight: 700;
	border-radius: 0px;
}

.btn-transparente,
.btn-transparente:hover {
	background: none;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	border: 2px solid #fff;
}

.telefone-topo {
	font-size: 24px;
	font-weight: 700;
}

.bg-topo {
	height: 94px;
	background: url(../imgs/bg-topo.png) top center no-repeat;
}

.slider-index {
	margin-top: -177px;
}

.slider-index .carousel-indicators li {
	width: 25px;
	height: 25px;
	background: #fff;
	border: none;
	border-radius: 50%;
}

.slider-index .carousel-indicators .active {
	width: 25px;
	height: 26px;
	background: url(../imgs/slider-select.png);
	border: none;
}

.slider-index .carousel-control {
	background: none;
}

.titulo-duas-linhas {
	height: 70px;
	background: url(../imgs/bg-tutilo-duas-linhas.jpg) top center no-repeat;
}

.titulo-duas-linhas h1 {
	line-height: 70px;
	font-size: 29px;
	color: #c69014;
	font-weight: 700;
}

.lista-produto {
	background: #d2ba70;
	padding-bottom: 30px;
	margin-bottom: 20px;
}

.lista-produto h1 {
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	overflow: hidden;
	padding-bottom: 10px;
	height: 30px;
	text-align: center;
	margin: 25px 10px 5px;
}

.lista-produto .linha-prod{
	background: url(../imgs/bg-titulo-produto.png) top center no-repeat;
	padding-top: 30px;
}


.bg-portifolio{
	background: #282828 url(../imgs/bg-portifolio.jpg) top center no-repeat;
	padding-top: 85px;
	padding-bottom: 240px;
}

.lista-categorias{
	overflow: hidden;
}

.lista-categorias li{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.btn-preto, .btn-preto:hover{
	background: #282828;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 4px;
}

.btn-33{
	width: 31%;
}

.index-conheca-alkha{
	margin-top: -200px;
	background: url(../imgs/sombra-empresa-index.png) bottom no-repeat;
	padding-bottom: 12px;
}

.index-conheca-alkha h1{
	color: #c69014;
	font-size: 25px;
	font-weight: 300;
}

.index-conheca-alkha p{
	color: #000000 ;
	font-size: 16px;
}


.index-conheca-alkha-conteudo{
	background: #c6ae68;

	padding: 10px;
}

.lista-noticia{
	background: url(../imgs/bg-dicas.jpg) repeat-y;
	margin-bottom: 15px;
}

.lista-noticia h1{
	font-size: 17px;
	color: #000;
	height: 45px;
	margin-top: 30px;
	margin-bottom: 20px;
}


.bg-titulo-uma-linha{
	background: url(../imgs/bg-titulo-uma-linha.png) bottom center no-repeat;
	padding-bottom: 17px;
}

.bg-titulo-uma-linha h1{
	color: #c69014;
	font-size: 30px;
}

.lista-portifolio{
	margin-bottom: 40px;

}

.lista-portifolio h1{
	font-size: 17px;
	color: #000;
	margin: 10px 0px;
}


.lista-portifolio p{
	font-size: 14px;
	color: #000;
	margin: 10px 0px;
	border-bottom: 1px solid #000;
}




.input-lista-prod-orcamentos {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #000;
}




.lista-itens-orcamento thead{
	font-size: 15px;
	color: #fff;
	border: 2px solid #fff;
}


.bottom-table{
	background: #337AB7;
}

.lista-itens-orcamento tbody{
	font-size: 17px;
	color: #fff;
	border: 2px solid #fff;
}

.lista-itens-orcamento tbody tr td{
	vertical-align: middle;
}

.lista-itens-orcamento tbody .glyphicon-remove{
	color: #f00000;
}

.lista-itens-carrinho{
	margin: 10px 0px;
	overflow: hidden;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 20px;
	padding-bottom: 10px;
}




.telefone-topo .tel{
    background: #000;
    color: #fff;
    padding: 5px;
}


